   </main>

    <footer class="site-footer">

        <div class="footer-container">

            <div class="footer-column">

                <h2>
                    Aquarium World
                </h2>

                <p>
                    Discover fascinating marine animals, immersive habitats
                    and educational visitor experiences.
                </p>

            </div>


            <div class="footer-column">

                <h2>
                    Quick Links
                </h2>

                <ul>

                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="/zones">
                            Exhibits
                        </a>
                    </li>

                    <li>
                        <a href="/experiences">
                            Experiences
                        </a>
                    </li>

                    <li>
                        <a href="/faq">
                            FAQ
                        </a>
                    </li>

                    <li>
                        <a href="/contact">
                            Contact Us
                        </a>
                    </li>

                </ul>

            </div>


            <div class="footer-column">

                <h2>
                    Opening Times
                </h2>

                <p>
                    Monday–Sunday
                </p>

                <p>
                    9:00 AM–6:00 PM
                </p>

                <p>
                    Last admission: 5:00 PM
                </p>

            </div>


            <div class="footer-column">

                <h2>
                    Contact
                </h2>

                <p>
                    Email: info@aquariumworld.co.uk
                </p>

                <p>
                    Telephone: 01234 567890
                </p>

                <a href="/contact">
                    Send an enquiry
                </a>

            </div>

        </div>


        <div class="footer-bottom">

            <p>
                &copy; <%= new Date().getFullYear() %>
                Aquarium World. All rights reserved.
            </p>

        </div>

    </footer>


    <script src="/js/script.js"></script>

</body>

</html>