<nav class="navbar" aria-label="Main navigation">
    <div class="navbar-container">
        <a href="/" class="logo">
            Aquarium World
        </a>

        <ul class="navigation-links">

            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/about">About Us</a>
            </li>

            <li>
                <a href="/zones">Exhibits</a>
            </li>

            <li>
                <a href="/experiences">Experiences</a>
            </li>

            <li>
                <a href="/faq">FAQ</a>
            </li>

            <li>
                <a href="/contact">Contact Us</a>
            </li>
        </ul>

    </div>

</nav>